nav {
	margin: 0px, 200px;
	padding: 0;
	overflow: hidden;
	color: white;
}
#c1 {
	color:aliceblue;
	text-align: center;
	text-shadow: 0px 0px 15px grey;
}
#c2 {
	color:rgb(227, 34, 34);
	text-align: center;
	text-shadow: 0px 0px 15px black;
	animation-name:title;
  	animation-duration:5s;
}
@keyframes title {
	from {color:#fff;}
	to {color:rgb(227, 34, 34);}
}

header {
	background-image: url('../images/dump.png');
	background-size: cover;
	width: auto;
	height:800px;
	position:absolute;
	top:8%

}

a {
	display: transparent;
	color: white;
	padding: 5px 15px;
	text-decoration: none;
	float: left;
	font-size:25px;
	margin-top: 5px;
	transition-property:var(transform); 
	transition-duration: 0.5s; 
	transition-timing-function: ease-in-out;
}

a.one:link {color: #ff0000;}
a.one:visited {color: #ff0000;}
a.one:hover {color: #53cc35;transform:scale(1.25);}

a.two:link {color: #ff0000;}
a.two:visited {color: #ff0000;}
a.two:hover {color:  #53cc35;transform:scale(1.25);}

a.three:link {color: #ff0000;}
a.three:visited {color: #ff0000;}
a.three:hover {color:  #53cc35;transform:scale(1.25);}

a.four:link {color: #ff0000;}
a.four:visited {color: #ff0000;}
a.four:hover {color:  #53cc35;transform:scale(1.25);}

a.five:link {color: #ff0000;}
a.five:visited {color: #ff0000; }
a.five:hover {color:  #53cc35;transform:scale(1.25);}


a.one:active {
  color:#964B00;
}

.arrow {
	background: url('../images/sheet3.png') no-repeat 11.248% 1.676%;
	width: 43px;
	height: 30px;
  	position:absolute;
 	 margin-left: 45.5%;
  	margin-top: 0.7%;
  	animation: arrows 1s steps(4) infinite;
}
@keyframes arrows {
  from{background-position-x:20.979%;}
  to{background-position-x:11.248%;}
}
hr {
	opacity: 1px;
}


header {
	text-align: center;
	color: white;
}

#c1 {
	font-size: 80px;
	margin-top: 150px;
}

#c2 {
	font-size: 40px;
	margin-top: 20px;
}

.fb {
	background: url('../images/good.png') no-repeat 39.859% 70.109%;
	width: 33px;
	height: 32px;
	position:absolute;
	margin-top:10px;
	left: 50%;
}

.fb:hover, .fb:active {
	background: url('../images/good.png') no-repeat 39.859% 29.508%;
	width: 33px;
	height: 33px;
}
.twitter {
	background: url('../images/good.png') no-repeat 59.965% 70.492%;
	width: 33px;
	height: 33px;
	position:absolute;
	margin-top:10px;
	left: 53%;
}
.twitter:hover, .twitter:active {
	background: url('../images/good.png') no-repeat -340px -54px;
	width: 33px;
	height: 33px;
}
.git {
	background: url('../images/good.png') no-repeat -456px -129px;
	width: 32px;
	height: 33px;
	position:absolute;
	margin-top:10px;
	left: 56%;
}
.git:hover, .git:active {
	background: url('../images/good.png') no-repeat -456px -54px;
	width: 33px;
	height: 33px;
}
.content {
	background-color:rgb(225, 35, 64);	
	height: 120px;
	width:1432px;
	background-clip: border-box;
	margin-top:55%;
}

.content h1 {
	position: absolute;
	color:white;
	font-size:60px;
	margin-left: 400px;
	margin-top: 30px;
	text-shadow: 0px 0px 10px darkred;
}
.vid1 video {
	position: absolute;
	border-color: #1f1616;
	border-style: solid;
	border-width: 8px;
	border-radius:10px;
	top:140%;
}
.audio audio {
	position:absolute;
	top:220%;
	width: 690px;
	border-style:dashed;
	border-color: #1f1616;
	border-width: 2px;
	border-radius:50px;
}
.clim {
	position:absolute;
	width: auto;
	height:70px;
	font-size: 25px;
	color:aliceblue;
	background-color:#63a445;
	border-radius:10px 10px 0px 0px;
	left:53%;
	top:140%;
	box-shadow: 0px 0px 3px darkgreen;
}
.clim h2 {
	margin-left: 15px;
	margin-right: 15px;
	margin-top:15px;
}
.cdes {
	background-color:#426731; 
	position:absolute;
	border-radius: 0px 10px 10px 10px;
	width: 650px;
	height: auto;
	top: 149%;
	left:53%;
	box-shadow: 0px 0px 3px darkgreen;
}
.cdes p {
	color:aliceblue;
	font-size:25px;
	padding:15px;
	text-align: justify;
}

.footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
	line-height: 1.6;
    font-size: 14px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
	margin-top:58%;
}

.footer a {
    color: #8e0df0;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px; 
}

.footer a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin: 5px 0;
}

.links a {
    display: block;
    margin: 5px 0;
}
